<div class="main-div margin-top-50">
  <mat-card class="center width50">
    <form [formGroup]="cadastro">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" name="name" formControlName="name">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Celular para contato">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Endereço para entrega">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-select placeholder="Modelo do piso">
            <mat-option value="modelo1">Modelo1</mat-option>
            <mat-option value="modelo2">Modelo2</mat-option>
            <mat-option value="modelo3">Modelo3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Largura (cm)">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Comprimento (cm)">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Registrar pedido</button>
      </mat-card-actions>
    </form>

  </mat-card>
</div>
