/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
      background-color: #D0D0D0; }

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-10{
  padding: 10px;
}

.margin-top-50{
  margin-top: 50px;
}

.position-fixed{
  position:fixed;
}

.center {
  margin: 10px auto;
}

.width {
  width: 50%;
}

.full-width {
  width: 100%;
}


@media screen and (max-width:1001px){
  .width {
    width: 70%;
  }
}

@media screen and (max-width:551px){
  .width {
    width: 80%;
  }
}
